[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}    

.drag-and-drop {
  height: 250px;
  width: 250px;
  float: left;
  border: 2px solid #666666;
  background-color: #ccc;
  margin-right: 10px;
  box-shadow: inset 0 0 3px #000;
  text-align: center;
  cursor: move;
}

.drag-and-drop:hover:after {
    content: 'drag me!';
    color: #fff;
    text-decoration: none;
    font-size: 2em;
}

.over {
    border: 2px dashed #000000;
}