{% extends 'base.html' %}

<div id="blog-wrapper">
{% block blog %}
  {% load django_markdown %}
  {% include page_template %}
  {% block js %}
    {{ block.super }}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script src="{{ STATIC_URL }}blog/js/voting.js"></script>
    <script src="{{ STATIC_URL }}blog/js/search.js"></script>
    <script>$.endlessPaginate();</script>
  {% endblock js %}
  </div>
{% endblock %}
