{% extends 'base.html' %}
{% load staticfiles %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static "trash/css/trash.css" %}">
{% endblock stylesheet %}

{% block trash %}
  <h1>Upload your ugly pictures here</h1>
  <p>we will delete them for you!</p>
  <form method="POST" action="" enctype="multipart/form-data">
    {{ form }}
    {% csrf_token %}
    <div class="trash-uploader" id="uploader">
      <p class="trash-tip">drag and drop pictures in here to upload them</p>
    </div>
  </form>
  <div class="trash-display" id="display">
  <!-- display thumbnails here for you jerks -->
  </div>
  <div class="modal fade" id="trash-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div id="trash-modal-content" class="modal-content">
        <div id="trash-modal-header" class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 id="trash-modal-title" class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div id="trash-modal-body" class="modal-body">
          <!-- full img element with controls for delete/edit/title/caption -->
        </div>
        <div id="trash-modal-footer" class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
{% endblock trash %}

{% block profile %}
{% endblock profile %}

{% block javascript %}
  <script src="{% static "trash/js/trash.js" %}"></script>
{% endblock javascript %}
