{% extends 'base.html' %}
{% load staticfiles %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static "trash/css/trash.css" %}">
{% endblock stylesheet %}

{% block trash %}
  <h1>Upload your ugly pictures here</h1>
  <p>we will delete them for you!</p>
  <div class="trash-uploader" id="uploader">
    <p class="trash-tip">drag and drop pictures in here to upload them</p>
  </div>
  <div class="trash-display">
    <table role="presentation" class="table table-striped">
      <tbody class="files">
      </tbody>
    </table>
  </div>
{% endblock trash %}

{% block profile %}
{% endblock profile %}

{% block javascript %}
  <script src="{% static "trash/js/trash.js" %}"></script>
{% endblock javascript %}
