/* drag and drop */

.trash-uploader {
    border: 10px dashed #ccc;
    width: 100%;
    height: 100%;
    margin: 2em auto; 
    color: #ccc;
    line-height: 300px;
    text-align: center;
}

.trash-uploader.dragover {
    border-color: #000;
    color: #000;
}

/* thumbnail display */

.trash-thumbnail {
    display: inline-block;
    background-size: cover;
    height: 200px;
    width: 200px;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    overflow: hidden;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.trash-thumbnail:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.trash-preview-header {
    text-align: center;
    margin-bottom: 1em;
}

/* modal box */

.trash-modal-display {
    max-width: 100%;
    max-height: 100%;
}

.trash-file-size {
    display: inline-block;
    float: left;
    margin-left: 1em;
}

.modal-title {
    font-weight: bold;
    display: inline-block;
}

a.trash-modal-title-edit {
    display: none;
}

.modal-header:hover a.trash-modal-title-edit {
    display: inline-block;
    text-decoration: none;
    font-weight: normal;
    margin-left: 1em;
} 

.trash-delete {
    float: left;
}

