body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
  background-color: #17d1ff;
}

/*ron*/
.ron-wrapper img {
    width: 100%;
    height: auto;
    display: none;
}

/*search*/
.toggle {
    display: none;
}

.search-submit-hidden {
    display: none;
}

.container.search {
    float:right;
}

.search-icon {
    display: inline;
}

.search-results {
    display: none;
}
