body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
  background-color: #17d1ff;
}

/* login */
.password-reset-toggle a {
    text-decoration: none;
}

.password-reset {
    padding: 4px;
    margin-top: 10px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    display: none;
}

/* ron */
.ron-wrapper img {
    width: 100%;
    height: auto;
    display: none;
}

/* search */

.search-results {
    background-color: rgb(255, 255, 255);
    list-style-type: none;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
}

.search-results a {
    text-decoration: none;
}

.search-results a:hover {
    background-color: rgb(220, 220, 220);
}

#search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.search {
    padding: 5px 0;
    width: 230px;
    height: 30px;
    position: relative;
    left: 10px;
    float: left;
    line-height: 22px;
    margin-bottom: 10px;
}

.search input {
    position: absolute;
    width: 0px;
    float: Left;
    margin-left: 210px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    height: 30px;
    line-height: 18px;
    padding: 2px 2px 0 2px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.search:hover input, .search input:focus {
    width: 200px;
    margin-left: 2px;
}


.search-hover-button {
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
