/*comments*/

.comments p {
    display: inline-block;
}

.add-comment {
    margin-right: 2em;
}

.post-button {
    margin-top: 1em;
}

.comment-active-area {
    display: none;
}

.comments-thread {
    display: none;
}

.comment-body {
    background-color: rgb(217, 217, 217);
    border-radius: 4px;
    padding: 1em;
}

.comment-created {
    font: 75% sans-serif;
}

/*voting*/

.voting {
    margin-bottom: 1em;
}

.voting p, img {
    display: inline-block;
    font-weight: bold;
}

