/*ron*/
.ron-wrapper img {
    width: 100%;
    height: auto;
}

/*paging*/

.pagination div,
.endless_container {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination div > a,
.pagination span,
.endless_container a {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}

.pagination div > a:hover,
.pagination .endless_page_current,
 .endless_container a:hover {
  background-color: #eeeeee;
}

.pagination div > a:first-child,
.pagination div > span:first-child,
.endless_container a {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
     -moz-border-radius: 3px 0 0 3px;
          border-radius: 3px 0 0 3px;
}

.endless_container {
  width: 50%;
}

.endless_container a {
  text-align: center;
  width: inherit;
  text-decoration: none;
}

/*comments*/

.comments p {
    display: inline-block;
}

.add-comment {
    margin-right: 2em;
}

.post-button {
    margin-top: 1em;
}

.comment-active-area {
    display: none;
}

.comments-thread {
    display: none;
}

.comment-body {
    background-color: rgb(217, 217, 217);
    border-radius: 4px;
    padding: 1em;
}

.comment-created {
    font: 75% sans-serif;
}

/*voting*/

.voting {
    margin-bottom: 1em;
}

.voting img {
    cursor: pointer;
}

.voting p, img {
    display: inline-block;
    font-weight: bold;
}

/* search */

.search-controls {
    display: inline-block;
    background-color: rgb(220, 220, 220);
    margin-top: 1em;
    padding: 1em;
    border-radius: 4px;
}

.search-button {
    position: relative;
    float: right;
}
