/*comments*/

.comments p {
    display: inline-block;
}

.add-comment {
    margin-right: 2em;
}

.post-button {
    margin-top: 1em;
}

.comment-active-area {
    display: none;
}

.comments-thread {
    display: none;
}

/*voting*/

.voting {
    margin-bottom: 1em;
}

.voting p, img {
    display: inline-block;
    font-weight: bold;
}

